RewriteEngine On

# .htmlでアクセスされた場合は拡張子なしにリダイレクト
RewriteCond %{THE_REQUEST} \s/+([^.]+)\.html[\s?] [NC]
RewriteRule ^ /%1? [R=301,L]

# .phpでアクセスされた場合は拡張子なしにリダイレクト
RewriteCond %{THE_REQUEST} \s/+([^.]+)\.php[\s?] [NC]
RewriteRule ^ /%1? [R=301,L]

# 拡張子なしでアクセスされた場合の処理
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]